@font-face {
    font-family: 'BPG Mrgvlovani';
    src: url('BPGMrgvlovani.woff2') format('woff2'),
        url('BPGMrgvlovani.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

