:root{
    --modalLine:#CCD2F9;
    --modalInputBackground:#F9FAFF;
    --inputBorder: #E1E6FB;
    --placeholder: #6974A8;
}

/* page content styles*/
.page-content{
    border-radius: 20px 20px 0 0;
    background-color: var(--Gray);
    margin-left: 17px;
}
.page-header{
    padding: 0 50px;
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.page-header span{
    font-size: 14px;
    color: var(--lightGray);
    margin-left: 17.52px;
}

#user-details{
    display: flex;
    column-gap: 15px;
    padding: 0 50px;
}

.user-info{
    width: 338.87px;
}

.user-info-header{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 22.5px;
}

.user-info-header span{
    font-size: 16px;
    color: var(--lightGray);
    margin-left: 16px;
}

.user-info-line{
    margin-top: 14px;
}

#details{
    margin-top: 15.75px;
}

.info-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 13.28px;
}

.info-list li {
    display: flex;
    align-items: center;
    width: 100%;
}

.info-list li span{
    font-size: 13px;
    color: var(--lightGray);
}

.info-key{
    margin-left: 24.5px;
}

.info-value{
    margin-left: auto;
    width: 100px;
}

.elements-box{
    width: 180.26px;
}

#elements-title{
    font-size: 14px;
    color: var(--lightGray);
}

.elements-list{
    list-style: none;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.elements-list li {
    display: flex;
    align-items: center;
    padding-right: 17.64px;
}

.element-img-box{
    min-width: 30px;
    text-align: center;
}

.element-name{
    font-size: 13px;
    color: var(--lightGray);
    margin-left: 17.64px;
}

.element-value{
    font-size: 13px;
    color: var(--lightGray);
    margin-left: auto;
}

.map-box{
    position: relative;
    margin-top: 12px;
    max-height: 532.35px;
}

.astro-map-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#map-descriptions{
    margin-top: 50.32px;
    width: 100%;
    padding: 30.22px 50px 85px 50px;
    background-color: var(--lightBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptions-title{
    font-size: 16px;
    color: var(--dark);
}

.descriptions-panel{
    margin-top: 35px;
    display: flex;
    column-gap: 32px;
}

.description-btn{
    outline: none;
    background-color: var(--light);
    width: 255px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--lightBorder);
    font-size: 13px;
    color: var(--darkText);
    cursor: pointer;
}

.description-btn.active, 
.description-btn:hover{
    background-color: var(--btnHoverViolet);
    color: #ffffff;
}

.descriptions-box{
    width: 100%;
    margin-top: 35px;
    border: 2px solid var(--descriptionsBorder);
    border-radius: 10px;
}

.descriptions-list{
    list-style: none;
    width: 100%;
}

.item-panel{
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 55px;
    padding-left: 63px;
    padding-right: 55px;
}

.description{
    max-width: 856px;
    padding: 22px 28px 32px 28px;
    font-size: 15px;
    color: var(--dark);
    font-weight: 400;
    display: none;
}

.description-line{
    border: 1px solid var(--descriptionsBorder);
}

.item-panel span, .item-panel h3{
    font-size: 13px;
    color: var(--dark);
    font-weight: 400;
}

.item-panel span{
    width: 149px;
}

.item-panel h3{
    width: 150px;
    margin: auto;
}

.descriptions-list-item{
    cursor: pointer;
}

.descriptions-list-item.active .item-panel{
    background-color: var(--descriptionHover);
}

.descriptions-list-item.active .item-panel span,
.descriptions-list-item.active .item-panel h3{
    color: var(--Violet);
}

.descriptions-list-item.active .item-panel svg{
    transform: rotate(180deg);
}

.descriptions-list-item.active .item-panel svg path{
    stroke: var(--Violet);
}

.descriptions-list-item.active p{
    display: block;
}

/*map popup styles*/

.map-popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20.34px;
    padding-left: 51.55px;
}

.close{
    margin-left: auto;
    border: none;
    outline: none;
    margin-top: 21.25px;
    cursor: pointer;
}

.popup-header{
    font-size: 18px;
    color: var(--Violet);
    margin-top: 42.26px;
}

.modal-description{
    font-size: 14px;
    width: 302px;
    text-align: center;
    margin-top: 21.48px;
}

.modal-line{
    width: 397.09px;
    border: 1px solid var(--modalLine);
    margin-top: 20.48px;
    margin-right: 30px;
}

#birth-form{
    width: 100%;
    padding-right: 30px;
}

.form-header{
    font-size: 13px;
    margin-left: 6.45px;
    margin-top: 32.22px;
}

.birth-box{
    display: flex;
    width: 100%;
    height: 45px;
    border-radius: 23px;
    margin-top: 13.48px;
    border: 2px solid var(--inputBorder);
}

.birth-box input{
    width: 33.3%;
    height: 100%;
    text-align: center;
    background-color: var(--modalInputBackground);
    outline: none;
    border: none;
    font-size: 14px;
}

.birth-box input::placeholder{
    color: var(--placeholder);
}

.birth-box input:nth-child(1), 
.birth-box input:nth-child(2){
    border-right: 2px solid var(--inputBorder);
}
.birth-box input:nth-child(1){
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}
.birth-box input:last-child, 
.time-box input:nth-child(2){
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
}


.time-box{
    position: relative;
}
.time-box input{
    width: 50%;
}
.time-box input:nth-child(2){
    border:none;
}

.time-icon{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.birth-address{
    width: 100%;
    height: 45px;
    padding-left: 43.87px;
    margin-top: 13.48px;
    border-radius: 23px;
    border: 2px solid var(--inputBorder);
    background-color: var(--modalInputBackground);
    padding-right: 26.28px;
    position: relative;
}

.address-select{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background: transparent;
    color: var(--placeholder);
}

.address-icon{
    position: absolute;
    top: 13.5px;
    left: 19.09px;
}

.submit-btn{
    width: 214px;
    height: 55px;
    margin-top: 56.69px;
    border: none;
    background-color: var(--Violet);
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 73px;
    border-radius: 28px;
    margin-left: 93.45px;
    cursor: pointer;
}

.loading{
    display: none;
    height: 671px;
    background-image: url(../assets/images/register/popup-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle{
    position: absolute;
    left: 50%;
    top: 220px;
    margin-left: -43px;
    animation: rounded 1s infinite;
}

.popup-logo{
    position: absolute;
    left: 50%;
    top: 245px;
    transform: translateX(-50%);
}

@keyframes rounded {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

.loading h3{
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    width: 369px;
    text-align: center;
}

.loading h4{
    margin-top: 10px;
    font-size: 14px;
}

#popup-doted-circle{
    display:none;
    margin-left: -47px;
}

#popup-checked{
    display: none;
    margin-top: -8px;
}

#register-popup{
    display: none;
}

.reg-modal-description{
    width: 424px;
}

#reg-form{
    margin-top: 30.61px;
    width: 100%;
    padding-right: 30px;
}

.input-group{
    width: 100%;
    height: 45px;
    border: 2px solid #E1E6FB;
    border-radius: 23px;
    background-color: white;
    position: relative;
}

.reg-icon{
    position: absolute;
    top: 11.67px;
    left: 15.14px;
}

.input-group input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 23px;
    padding-left: 55px;
    padding-right: 10px;
}

.input-group input::placeholder{
    color: #6974A8;
    font-size: 13px;
}

.gender-box{
    display: flex;
    margin-top: 19px;
    align-items: center;
}

.gender-box h3{ 
    font-size: 14px;
    color: #000000;
    margin-left: 17.64px;
}

#male{
    margin-left: 81.64px;
}

.gender-box input[type="radio"]{
    width: 19px;
    height: 19px;
    border: 2px solid #7A82AE;
    border-radius: 50%;
}

.gender-box label{
    margin-left: 7px;
    font-size: 13px;
    color: #000000;
}

#female{
    margin-left: 11px;
}

.gender-box input[type="radio"]::before {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #7257C4;
  }
  
.gender-box input[type="radio"]:checked::before {
    transform: scale(1);
}

#reg-email{
    margin-top: 30.17px;
}

#reg-password,
#reg-repeat-password{
    margin-top: 13.47px;
}

#reg-password-input,
#reg-repeat-password-input{
    padding-right: 50px;
}

.eye-icon{
    position: absolute;
    top: 11.67px;
    right: 15.14px;
    cursor: pointer;
}

.confirm-box{
    display: flex;
    margin-top: 20.24px;
    column-gap: 14px;
}

.confirm-checkbox{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--checkboxBorder);
    cursor: pointer;
}

.confirm-checkbox img{
    display: none;
}

.confirm-checkbox.active{
    background-color: var(--checkboxActive);
    border-color: var(--checkboxActive);
}

.confirm-checkbox.active img{
    display: block;
}

.confirm-text{
    width: 347px;
    font-size: 12px;
    color: #1A1D1E;
}

.confirm-text a{
    text-decoration: none;
    color: var(--Violet);
}

#reg-form .submit-btn{
    margin-top: 33px;
    margin-bottom: 63px;
}
