body{
    background-color: var(--darkBlue);
}

/* header style*/
.header{
    width: 100%;
    height: 70px;
    background-color: var(--darkGray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 207px;
    padding-right: 33px;
}

#header-right{
    display: flex;
    align-items: center;
}

.search-box{
    width: 370px;
    height: 40px;
    background-color: var(--Gray);
    border-radius: 20px;
    position: relative;
}

.search-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    position: relative;
    color: var(--lightGray);
    padding-left: 26px;
    padding-right: 50px;
}
.search-box input::placeholder {
    color: var(--lightGray);
}

.search-box img{
    position: absolute;
    top: 14px;
    right: 26px;
}

.register-btn{
    outline: none;
    padding: 15px 20px;
    display: flex;
    column-gap: 13px;
    align-items: center;
    background-color: var(--Gray);
    border: 2px solid var(--grayBorder);
    border-radius: 27px;
    margin-left: 114px;
    cursor: pointer;
}

.register-btn:hover, .rounded-btn:hover{
    background-color: var(--Violet);
    border-color: var(--Violet);
}

.register-btn:hover span{
    color: white;
}

.register-btn:hover svg path, .rounded-btn:hover svg g path {
    fill: white;
}

.hamburger:hover svg g path{
    stroke: white;
}

.register-btn span{
    font-size: 13px;
    color: var(--lightGray);
}

.rounded-btn {
    margin-left: 14px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--grayBorder);
    position: relative;
    cursor: pointer;
}

.notifications.active svg{
    margin-right: 6px;
}

.notifications.active::after{
    content: '';
    width: 11.9px;
    height: 11.9px;
    border-radius: 50%;
    border: 1px solid var(--darkGray);
    background-color: var(--Pink);
    position: absolute;
    top: 6.5px;
    right: 6px;
}

.notifications.active:hover::after{
    border: 1px solid var(--Violet);
}

/* and header styles*/


/* page container styles*/
#main-container{
    width: 100%;
    margin-top: 21px;
    display: flex;
    justify-content: center;
}

/* menu styles*/
.menu-box{
    width: 320px;
    padding-top: 21px;
    padding-bottom: 108.5px;
    background-color: var(--Gray);
    border-radius: 20px;
    text-align: center;
}

.menu-header{
    font-size: 14px;
    color: var(--lightGray);
}

.line{
    width: 100%;
    margin-top: 18px;
    height: 0;
    border: 1px solid var(--line)
}

.services-menu{
    margin-top: 22px;
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.services-menu a{
    width: 100%;
    height: 45px;
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding: 0 24px;
    border-radius: 23px;
    text-decoration: none;
} 

.services-menu a span{
    font-size: 13px;
    color: var(--textGray);
}

.menu-right-arrow{
    margin-left: auto;
}

.services-menu a.active, 
.services-menu a:hover{
    background-color: var(--Violet);
}

.services-menu a.active svg g g path, 
.services-menu a.active svg path
.services-menu a:hover svg g g path, 
.services-menu a:hover svg path {
    fill: #fff;
}

.services-menu a.active span, 
.services-menu a:hover span{
    color: #fff;
}

.services-menu a.active .menu-right-arrow, 
.services-menu a:hover .menu-right-arrow{
    display: none;
}

.diagrams-active{
    display: none;
}

.services-menu a.active .diagrams-active, 
.services-menu a:hover .diagrams-active{
    display: block;
}

.services-menu a.active .diagrams, 
.services-menu a:hover .diagrams{
    display: none;
}

.services-menu a.active svg g g , 
.services-menu a.active svg g path,
.services-menu a:hover svg g g ,
.services-menu a:hover svg g path {
    stroke: #fff;
}

/* page content styles*/
.page-content{
    border-radius: 20px 20px 0 0;
    background-color: var(--Gray);
    margin-left: 17px;
}
.page-header{
    padding: 0 50px;
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.page-header span{
    font-size: 14px;
    color: var(--lightGray);
    margin-left: 17.52px;
}

#user-details{
    display: flex;
    padding: 0 50px;
}

.user-info{
    width: 338.87px;
}

.user-info-header{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 22.5px;
}

.user-info-header span{
    font-size: 16px;
    color: var(--lightGray);
    margin-left: 16px;
}

.user-info-line{
    margin-top: 14px;
}

#details{
    margin-top: 15.75px;
}

.info-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 26.5px;
    margin-bottom: 36.12px;
}

.info-list li {
    display: flex;
    align-items: center;
    width: 100%;
}

.info-list li span{
    font-size: 13px;
    color: var(--lightGray);
}

.info-key{
    margin-left: 24.5px;
}

.info-value{
    margin-left: auto;
    width: 100px;
}

.elements-box{
    width: 180.26px;
}

#elements-title{
    font-size: 14px;
    color: var(--lightGray);
}