/* page content styles*/
.page-content{
    border-radius: 20px 20px 0 0;
    background-color: var(--Gray);
    margin-left: 17px;
}
.page-header{
    padding: 0 50px;
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.page-header span{
    font-size: 14px;
    color: var(--lightGray);
    margin-left: 17.52px;
}

#user-details{
    display: flex;
    column-gap: 15px;
    padding: 0 50px;
}

.user-info{
    width: 338.87px;
}

.user-info-header{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 22.5px;
}

.user-info-header span{
    font-size: 16px;
    color: var(--lightGray);
    margin-left: 16px;
}

.user-info-line{
    margin-top: 14px;
}

#details{
    margin-top: 15.75px;
}

.info-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 13.28px;
}

.info-list li {
    display: flex;
    align-items: center;
    width: 100%;
}

.info-list li span{
    font-size: 13px;
    color: var(--lightGray);
}

.info-key{
    margin-left: 24.5px;
}

.info-value{
    margin-left: auto;
    width: 100px;
}

.elements-box{
    width: 180.26px;
}

#elements-title{
    font-size: 14px;
    color: var(--lightGray);
}

.elements-list{
    list-style: none;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.elements-list li {
    display: flex;
    align-items: center;
    padding-right: 17.64px;
}

.element-img-box{
    min-width: 30px;
    text-align: center;
}

.element-name{
    font-size: 13px;
    color: var(--lightGray);
    margin-left: 17.64px;
}

.element-value{
    font-size: 13px;
    color: var(--lightGray);
    margin-left: auto;
}

.map-box{
    position: relative;
    margin-top: 12px;
    max-height: 532.35px;
}

.astro-map-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#map-descriptions{
    margin-top: 50.32px;
    width: 100%;
    padding: 30.22px 50px 85px 50px;
    background-color: var(--lightBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptions-title{
    font-size: 16px;
    color: var(--dark);
}

.descriptions-panel{
    margin-top: 35px;
    display: flex;
    column-gap: 32px;
}

.description-btn{
    outline: none;
    background-color: var(--light);
    width: 255px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--lightBorder);
    font-size: 13px;
    color: var(--darkText);
    cursor: pointer;
}

.description-btn.active, 
.description-btn:hover{
    background-color: var(--btnHoverViolet);
    color: #ffffff;
}

.descriptions-box{
    width: 100%;
    margin-top: 35px;
    border: 2px solid var(--descriptionsBorder);
    border-radius: 10px;
}

.descriptions-list{
    list-style: none;
    width: 100%;
}

.item-panel{
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 55px;
    padding-left: 63px;
    padding-right: 55px;
}

.description{
    max-width: 856px;
    padding: 22px 28px 32px 28px;
    font-size: 15px;
    color: var(--dark);
    font-weight: 400;
    display: none;
}

.description-line{
    border: 1px solid var(--descriptionsBorder);
}

.item-panel span, .item-panel h3{
    font-size: 13px;
    color: var(--dark);
    font-weight: 400;
}

.item-panel span{
    width: 149px;
}

.item-panel h3{
    width: 150px;
    margin: auto;
}

.descriptions-list-item{
    cursor: pointer;
}

.descriptions-list-item.active .item-panel{
    background-color: var(--descriptionHover);
}

.descriptions-list-item.active .item-panel span,
.descriptions-list-item.active .item-panel h3{
    color: var(--Violet);
}

.descriptions-list-item.active .item-panel svg{
    transform: rotate(180deg);
}

.descriptions-list-item.active .item-panel svg path{
    stroke: var(--Violet);
}

.descriptions-list-item.active p{
    display: block;
}